########################################
# Container Images
########################################

AUTHENTIK_VERSION=2026.5.6
POSTGRES_VERSION=16-alpine
REDIS_VERSION=8-alpine

########################################
# General
########################################

TZ=Europe/Istanbul

########################################
# PostgreSQL
########################################

PG_USER=authentik
PG_DB=authentik
PG_PASS=change-me

########################################
# Authentik
########################################

AUTHENTIK_SECRET_KEY=change-me

########################################
# SMTP (Optional)
########################################

AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=587

AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=

AUTHENTIK_EMAIL__USE_TLS=true
AUTHENTIK_EMAIL__USE_SSL=false

AUTHENTIK_EMAIL__TIMEOUT=10

AUTHENTIK_EMAIL__FROM=
