########################################
# Container Images
########################################

VAULTWARDEN_VERSION=1.37.1

########################################
# General
########################################

TZ=Europe/Istanbul

########################################
# Application
########################################

DOMAIN=https://vault.example.com

# Generate a secure Argon2 PHC hash:
# docker run --rm -it vaultwarden/server:${VAULTWARDEN_VERSION} /vaultwarden hash

ADMIN_TOKEN='change-me'

SIGNUPS_ALLOWED=false
WEBSOCKET_ENABLED=true
