########################################
# General
########################################

# Time zone used by Paperless-ngx.
#
# Examples:
#   Europe/Istanbul
#   Europe/Berlin
#   America/New_York

TZ=Europe/Istanbul

########################################
# Paperless-ngx
########################################

# Public URL of your Paperless instance.
#
# Example:
# https://paperless.example.com

PAPERLESS_URL=https://paperless.example.com

# Generate a secure secret:
#
# openssl rand -hex 64

PAPERLESS_SECRET_KEY=change-me

# Default OCR language.

PAPERLESS_OCR_LANGUAGE=tur

# Additional OCR languages (space separated).

PAPERLESS_OCR_LANGUAGES=tur eng

########################################
# PostgreSQL
########################################

# These values normally do not need to be changed.

POSTGRES_DB=paperless
POSTGRES_USER=paperless

# Generate a secure password:
#
# openssl rand -base64 32

POSTGRES_PASSWORD=change-me
