########################################
# Container Image
########################################

NEXTCLOUD_AIO_CHANNEL=latest

########################################
# Application
########################################

NEXTCLOUD_DATADIR=nextcloud_aio_nextcloud_datadir
