########################################
# Container Images
########################################

POSTGRES_VERSION=17.6-alpine
SHLINK_VERSION=5.1.5
SHLINK_WEB_CLIENT_VERSION=4.8.0

########################################
# General
########################################

TIMEZONE=Europe/Istanbul

########################################
# Shlink
########################################

DEFAULT_DOMAIN=link.example.com
IS_HTTPS_ENABLED=true

SHLINK_SERVER_NAME=Production
SHLINK_SERVER_URL=https://link.example.com

SHLINK_API_KEY=change-me

########################################
# PostgreSQL
########################################

POSTGRES_DB=shlink
POSTGRES_USER=shlink
POSTGRES_PASSWORD=change-me
